body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(../images/background.jpg); 
}

.wrapper {
	background-color: #FFCCFF;
	padding-top: 10%;
	padding-bottom: 10%;
	margin: 0 auto;
	width: 90%;
	border-radius: 6px;
	
}


#login{
	padding: 15px;
	text-align:center;
	
	
	}
	
	
.tooltip {
	display: none;
	position: absolute;
	border: 1px solid #333;
	background-color: #000000;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-size: 12px;
	}
	
	
input{
	border-radius: 5px;
	border: 12;
	border-color: #3E00B3;
	}	
	
	


a {
  color: #00B7FF;
}


h1{
	font-size: 2em;
	}
	
h3{
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #4F00AE;
		
	}